#nav
    background-color: #061222
    img
        width: 140px
        height: 40px
    button
        border-color: #FFF
        // border-style: none 
        span
            color: #FFF 
    a
        color: #FFF
        font-size: 18px
        margin: auto 10px 
#header
    .title
        width: 100%
        // height: 100px
        text-align: center
        margin: 25% auto
        position: absolute
        h1
            // background-color: #FFF
            // border: #fbc05a 3px solid
            color: #061222
            letter-spacing: 30px
            margin-bottom: 0
    img
        width: 100%
#about
    // padding: 60px 0
    margin: 30px auto
    text-align: center
    .about-img
        width: 100%
        img
            border: #fbc05a 5px solid
            border-radius: 320px 
            width: 100%
            margin: 5% auto
    h2
        text-align: left
    p
        margin: 5% auto
        text-indent: 4em
        text-align: justify
        text-justify: inter-ideograph
#footer
    background-color: #061222
    padding: 1%
    text-align: center
    a
        text-decoration: none
    p
        font-size: 14px
        color: #FFF
    span
        color: #FFF
        font-size: 24px
        margin: 5px 5px

@media (max-width: 768px)
    #footer
        p
            font-size: 10px
            margin-bottom: 5px
        span
            font-size: 16px
    #header
        .title
            h1
                font-size: 28px
                letter-spacing: 20px
    #about
        .about-img
            img
                width: 40%
        h2
            text-align: center

@media (max-width: 576px)
    #header
        .title
            h1
                font-size: 20px
                letter-spacing: 16px

@media (max-width: 480px)
    #header
        .title
            h1
                font-size: 16px
                letter-spacing: 12px